# ignore all `.pyc` file
*.pyc
**/__pycache__/
# ignore all config file in vscode
**/.vscode/
# ignore all large files: `.pth` model parameter, `./data` dataset
*.pth
**/data/
**/.log/
# ignore nerf framework code and sample code
**/nerf-pytorch/
**/tutorial